<template>
  <service-form @submit="onSubmit" @cancel="onCancel" />
</template>

<script>
import ServiceForm from "~/components/services/ServiceForm.vue"

export default {
  components: {
    ServiceForm
  },

  methods: {
    onSubmit(data) {
      this.$router.push({ name: "services" })
    },

    onCancel() {
      this.$router.push({ name: "services" })
    }
  }
}
</script>

<style scoped>
#service-form {
  max-width: 480px;
  margin: 0 auto;
}
</style>
