<template>
  <div id="services">
    <v-toolbar flat color="transparent">
      <div class="title" style="flex: 1;">Services</div>
      <v-btn :to="{ name: 'services-create' }" color="error" dark>
        <v-icon>add</v-icon> New Service
      </v-btn>
    </v-toolbar>

    <v-text-field
      v-model="query"
      class="services__search"
      label="Search services"
      prepend-inner-icon="search"
      solo
    />

    <search :query="query" :list="services" :keys="['name']">
      <v-list v-if="result.length > 0" slot-scope="{ result }" two-line>
        <v-list-tile v-for="service in result" :key="service.id">
          <v-list-tile-content>
            <v-list-tile-title>{{ service.name }}</v-list-tile-title>
            <v-list-tile-sub-title
              >Price: &#8369; {{ service.price }}</v-list-tile-sub-title
            >
          </v-list-tile-content>

          <v-list-tile-action>
            <v-btn
              :to="{ name: 'services-id-edit', params: { id: service.id } }"
              flat
              small
              icon
            >
              <v-icon>edit</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-action>
            <v-btn flat small icon @click="openDeleteDialog(service.id)">
              <v-icon>delete</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </search>

    <v-dialog v-model="deleteDialog.open" max-width="480">
      <v-card>
        <v-card-text
          >This will permanently delete the service and cannot be undone. Delete
          service?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn flat @click="closeDeleteDialog">Cancel</v-btn>
          <v-btn flat color="blue" @click="deleteService">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Search from "~/components/Search.vue"

export default {
  components: {
    Search
  },

  async asyncData({ app }) {
    return {
      services: await app.$serviceFactory.serviceService().getAll()
    }
  },

  filters: {
    moneyFormat(number) {
      return Number(number).toLocaleString("en-PH", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })
    }
  },

  data() {
    return {
      query: "",

      deleteDialog: {
        open: false,
        serviceId: null
      }
    }
  },

  methods: {
    openDeleteDialog(serviceId) {
      this.deleteDialog = { open: true, serviceId }
    },

    closeDeleteDialog() {
      this.deleteDialog = { open: false, serviceId: null }
    },

    deleteService() {
      const { serviceId } = this.deleteDialog
      this.$serviceFactory
        .serviceService()
        .deleteById(serviceId)
        .then(data => {
          this.services.splice(
            this.services.findIndex(service => service.id === serviceId),
            1
          )
          this.closeDeleteDialog()
          this.$root.$emit("showSnackbar", "Delete successful")
        })
        .catch(error => {
          this.closeDeleteDialog()
          this.$root.$emit("showSnackbar", error)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.md-subheading {
  display: flex;
  align-items: center;

  .md-button {
    margin-left: auto;
  }
}
.services__search {
  margin-top: 0;
}
</style>
