<template>
  <v-app>
    <v-navigation-drawer
      v-if="isAuthenticated"
      v-model="drawer"
      app
      fixed
      clipped
    >
      <v-list>
        <v-list-tile
          v-for="(route, index) in $options.routes"
          :key="index"
          :to="{ name: route.to }"
        >
          <v-list-tile-content>
            {{ route.label }}
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="logout">
          <v-list-tile-content>Logout</v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left>
      <v-toolbar-side-icon v-if="isAuthenticated" @click="toggleDrawer" />
      <v-toolbar-title>Monjayfer</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <v-snackbar v-model="showSnackbar">{{ snackbarMessage }}</v-snackbar>
  </v-app>
</template>

<script>
export default {
  middleware: "authenticated",

  routes: [
    {
      label: "Inquiries",
      to: "inquiries"
    },
    {
      label: "Products",
      to: "products"
    },
    {
      label: "Services",
      to: "services"
    },
    {
      label: "POS",
      to: "pos"
    },
    {
      label: "Sales",
      to: "sales"
    },
    {
      label: "Clients",
      to: "clients"
    },
    {
      label: "Appointments",
      to: "appointments"
    }
  ],

  data() {
    return {
      drawer: true,
      snackbarMessage: null
    }
  },

  computed: {
    isAuthenticated() {
      return this.$store.state.authenticated
    },

    showSnackbar: {
      get() {
        return this.snackbarMessage !== null
      },
      set(newVal) {
        // This is going to be called only when snackbar is closing... most likely
        this.snackbarMessage = null
      }
    }
  },

  created() {
    this.$root.$on("showSnackbar", message => {
      this.snackbarMessage = message
    })
  },

  methods: {
    toggleDrawer() {
      this.drawer = !this.drawer
    },

    logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.replace({ name: "login" })
      })
    }
  }
}
</script>
