<template>
  <v-dialog v-model="delegateOpen" max-width="480">
    <v-card>
      <v-card-title>{{ title }}</v-card-title>
      <v-divider />
      <v-card-text>
        <form method="POST" action="#" @submit.prevent="submit">
          <v-text-field v-model="name" label="Name" required />
          <v-text-field v-model="species" label="Species" required />
          <v-text-field v-model="breed" label="Breed" required />

          <div>
            <div class="subheading">Gender</div>

            <v-radio-group v-model="sex">
              <v-radio :value="1" label="Male" required />
              <v-radio :value="2" label="Female" required />
            </v-radio-group>
          </div>

          <v-text-field
            v-model="birthday"
            type="date"
            label="Birthday"
            required
          />

          <button v-show="false" ref="submit" />
        </form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn flat @click="close">Close</v-btn>
        <v-btn color="info" @click="delegateSubmit">
          {{ btnLabel }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import format from "date-fns/format"
import pick from "lodash.pick"

export default {
  name: "PetFormDialog",

  props: {
    open: {
      required: true,
      type: Boolean
    },

    clientId: {
      required: true,
      type: String
    },

    initialValues: {
      type: Object,
      default: () => ({})
    }
  },

  data() {
    const data = {
      name: null,
      species: null,
      breed: null,
      sex: null,
      birthday: null,
      ...pick(this.initialValues, [
        "id",
        "name",
        "species",
        "breed",
        "sex",
        "birthday"
      ])
    }

    if (data.birthday instanceof Date) {
      data.birthday = format(data.birthday, "YYYY-MM-DD")
    }

    return data
  },

  computed: {
    delegateOpen: {
      get() {
        return this.open
      },
      set(val) {
        this.$emit("update:open", val)
      }
    },

    isEdit() {
      return !!this.initialValues && this.initialValues.hasOwnProperty("id")
    },

    title() {
      return this.isEdit ? "Edit Pet" : "New Pet"
    },

    btnLabel() {
      return this.isEdit ? "Update Pet" : "Add Pet"
    }
  },

  methods: {
    close() {
      this.$emit("update:open", false)
    },

    delegateSubmit() {
      this.$refs.submit.click()
    },

    submit() {
      const clientService = this.$serviceFactory.clientService()
      const petService = this.$serviceFactory.petService()

      const request = this.isEdit
        ? petService.update(this.$data)
        : clientService.createPet(this.clientId, this.$data)

      request.then(data => this.$emit("submit", data))
    }
  }
}
</script>
