<template>
  <v-card id="sale">
    <v-card-title>
      <div>
        <h1 class="headline">Transaction</h1>
        <div class="subheading">{{ id }}</div>
      </div>
    </v-card-title>

    <v-divider />

    <v-card-text>
      <h2 class="subheading">Transaction Details</h2>

      <v-list two-line>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>{{ date | dateFormat }}</v-list-tile-title>
            <v-list-tile-sub-title>Date</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>{{ date | timeFormat }}</v-list-tile-title>
            <v-list-tile-sub-title>Time</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title class="peso">{{
              vatSale | moneyFormat
            }}</v-list-tile-title>
            <v-list-tile-sub-title>VAT Sale</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title class="peso">{{
              vat | moneyFormat
            }}</v-list-tile-title>
            <v-list-tile-sub-title>VAT</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title class="peso">{{
              total | moneyFormat
            }}</v-list-tile-title>
            <v-list-tile-sub-title>Total</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card-text>

    <v-divider />

    <v-card-text>
      <h2 class="msubheading">Items</h2>

      <table id="sale-items-table" class="v-table">
        <thead>
          <tr>
            <th class="text-xs-left">Name</th>
            <th class="text-xs-right">Quantity</th>
            <th class="text-xs-right">Subtotal</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="({ name, qty, price }, index) in items" :key="index">
            <td>{{ name }}</td>
            <td class="text-xs-right">{{ qty }}</td>
            <td class="text-xs-right peso">{{ (qty * price) | moneyFormat }}</td>
          </tr>
        </tbody>
      </table>
    </v-card-text>
  </v-card>
</template>

<script>
import format from "date-fns/format"

export default {
  async asyncData({ app, params }) {
    const sale = await app.$serviceFactory.purchaseService().getById(params.id)

    return sale
  },

  filters: {
    dateFormat(date) {
      return format(new Date(date), "MMM DD, YYYY")
    },

    timeFormat(date) {
      return format(new Date(date), "hh:mm A")
    },

    moneyFormat(number) {
      return Number(number).toLocaleString("en-PH", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })
    }
  },

  computed: {
    vatSale() {
      return this.total / ((100 + this.vatRate) / 100)
    },

    vat() {
      if (this.total === 0) {
        return 0
      }
      return this.total - this.vatSale
    },

    total() {
      return this.items.reduce((prev, item) => prev + item.price * item.qty, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
.peso {
  @include peso-sign;
}
</style>
