<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <v-toolbar flat color="transparent">
      <h1 class="title">Sales</h1>
    </v-toolbar>

    <v-data-table id="sales-table" :headers="$options.headers" :items="sales">
      <template v-slot:items="props">
        <td>
          <nuxt-link :to="{ name: 'sales-id', params: { id: props.item.id } }">
            {{ props.item.id }}</nuxt-link
          >
        </td>
        <td>
          <nuxt-link :to="{ name: 'sales-id', params: { id: props.item.id } }">
            {{ props.item.date | dateTimeFormat }}
          </nuxt-link>
        </td>
        <td>
          <nuxt-link
            :to="{ name: 'sales-id', params: { id: props.item.id } }"
            class="text-xs-right peso"
          >
            {{ sum(props.item.items) | moneyFormat }}
          </nuxt-link>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import format from "date-fns/format"

export default {
  async asyncData({ app }) {
    return {
      sales: await app.$serviceFactory.purchaseService().getAll()
    }
  },

  headers: [
    { text: "Transaction ID", value: "id", sortable: false },
    { text: "Date", value: "date" },
    { text: "Total", value: "total", align: "right" }
  ],

  filters: {
    dateTimeFormat(date) {
      return `${format(date, "MMM DD, YYYY")} at ${format(date, "hh:mm A")}`
    },

    moneyFormat(number) {
      return Number(number).toLocaleString("en-PH", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })
    }
  },

  methods: {
    sum(items) {
      return items.reduce((prev, item) => prev + item.price * item.qty, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
#sales-table td > a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.peso {
  @include peso-sign;
}
</style>
