<template>
  <div id="inquiries">
    <v-toolbar flat color="transparent">
      <div class="title">Inquiries</div>
    </v-toolbar>

    <v-list two-line>
      <v-list-tile
        v-for="({ id, sender, message, date, isRead }, index) in inquiries"
        :key="id"
        :class="{ 'inquiry--read': isRead }"
        class="inquiry"
      >
        <v-list-tile-content>
          <v-list-tile-title>{{ sender }}</v-list-tile-title>
          <v-list-tile-sub-title>{{ message }}</v-list-tile-sub-title>
        </v-list-tile-content>

        <v-list-tile-action>
          <v-list-tile-action-text>{{
            date | dateFormat
          }}</v-list-tile-action-text>
          <v-btn v-if="isRead" flat small icon @click="markAsUnread(id)">
            <v-icon>chat_bubble_outline</v-icon>
          </v-btn>

          <v-btn v-else flat small icon @click="markAsRead(id)">
            <v-icon>message</v-icon>
          </v-btn>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
import format from "date-fns/format"

export default {
  name: "Inquiries",

  async asyncData({ app }) {
    const inquiryService = app.$serviceFactory.inquiryService()
    return { inquiries: await inquiryService.getAll() }
  },

  filters: {
    dateFormat(date) {
      return format(date, "MMMM DD")
    }
  },

  data() {
    return {
      snackbar: {
        active: false,
        read: true
      }
    }
  },

  methods: {
    markAsRead(id) {
      const inquiry = this.inquiries.find(inquiry => inquiry.id === id)

      if (inquiry.isRead) {
        return
      }

      this.$serviceFactory
        .inquiryService()
        .markAsRead(id)
        .then(data => {
          inquiry.isRead = true
          this.snackbar.read = true
          this.snackbar.active = true
        })
    },

    markAsUnread(id) {
      const inquiry = this.inquiries.find(inquiry => inquiry.id === id)

      if (!inquiry.isRead) {
        return
      }

      this.$serviceFactory
        .inquiryService()
        .markAsUnread(id)
        .then(data => {
          inquiry.isRead = false
          this.snackbar.read = false
          this.snackbar.active = true
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.inquiry:not(.inquiry--read) {
  .v-list__tile__title,
  .v-list__tile__sub-title {
    font-weight: 700;
  }
}
</style>
