<template>
  <v-card id="login">
    <v-card-text>
      <form ref="form" action="/login" method="post" @submit.prevent="login">
        <v-text-field v-model="username" label="Username" required />
        <v-text-field
          v-model="password"
          label="Password"
          type="password"
          required
        />
        <button v-show="false" :disabled="loginDisabled" />
      </form>
    </v-card-text>

    <v-card-actions>
      <v-spacer />
      <v-btn :disabled="loginDisabled" color="info" @click="login">Login</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: "",
      loading: false
    }
  },

  computed: {
    loginDisabled() {
      return this.loading || !(this.username && this.password)
    }
  },

  methods: {
    login() {
      this.loading = true
      this.$store
        .dispatch("login", { username: this.username, password: this.password })
        .then(() => {
          this.loading = false
          this.$router.replace({ name: "inquiries" })
        })
        .catch(error => {
          alert(error.message)
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.v-card {
  max-width: 480px;
  margin: 0 auto;
}
</style>
