<template>
  <div id="pos">
    <div class="items-container">
      <v-text-field
        v-model="query"
        class="items__search"
        label="Search products and services"
        prepend-inner-icon="search"
        solo
      />

      <search :query="query" :list="items" :keys="['name']">
        <v-list v-show="result.length > 0" slot-scope="{ result }" two-line>
          <v-list-tile
            v-for="item in result"
            :key="item.id"
            @click="addToCart(item, 1)"
          >
            <v-list-tile-content>
              <v-list-tile-title>{{ item.name }}</v-list-tile-title>
              <v-list-tile-sub-title class="price">{{
                item.price | moneyFormat
              }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </search>
    </div>

    <div class="pos-container">
      <v-card class="pos__details elevation-3">
        <v-card-title>
          <div>
            <div class="title">Cart ({{ totalCartQuantity }})</div>
            <div class="subheading">{{ dateToday }}</div>
          </div>
        </v-card-title>

        <div ref="cart" class="pos__cart">
          <cart-item
            v-for="(item, index) in cart"
            :key="index"
            :id="item.id"
            :name="item.name"
            :price="item.price"
            :quantity.sync="item.quantity"
          />
        </div>

        <div class="pos__calculation">
          <dl>
            <dt>VAT Sale</dt>
            <dd>{{ vatSale | moneyFormat }}</dd>

            <dt>{{ settings.vatRate }}% VAT</dt>
            <dd>{{ vat | moneyFormat }}</dd>

            <dt class="total">Total</dt>
            <dd class="total">{{ total | moneyFormat }}</dd>
          </dl>
        </div>
      </v-card>
      <div class="pos__actions">
        <v-btn :disabled="isCartEmpty" flat @click="clearCart">Cancel</v-btn>
        <v-btn :disabled="isCartEmpty" color="info" @click="openCheckout"
          >Checkout</v-btn
        >
      </div>
    </div>

    <receipt
      v-if="print"
      ref="receipt"
      :items="cart"
      :cash="checkoutDialog.amount"
      :vat="settings.vatRate"
    />

    <v-dialog
      v-model="checkoutDialog.active"
      max-width="360"
      style="position:absolute;"
    >
      <v-card>
        <v-card-title>
          <div class="title">Checkout</div>
        </v-card-title>

        <v-card-text>
          <form action="#" @submit.prevent="checkout">
            <v-text-field
              v-model.number="checkoutDialog.amount"
              label="Amount"
              type="number"
              required
            />

            <button
              v-show="false"
              ref="checkoutSubmit"
              :disabled="!canCheckout"
              type="submit"
            />
          </form>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn flat @click="closeCheckout">Cancel</v-btn>
          <v-btn
            :disabled="!canCheckout"
            flat
            color="info"
            @click="delegateCheckout"
            >Proceed</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import pick from "lodash.pick"
import format from "date-fns/format"

import Search from "~/components/Search.vue"
import Product from "~/components/pos/Product.vue"
import CartItem from "~/components/pos/CartItem.vue"
import Receipt from "~/components/pos/Receipt"

export default {
  head() {
    return {
      title: "POS",
      style: [
        {
          cssText: `
            @page {
              margin: 0;
            }

            @media print {
              body {
                width: 80mm !important;
                padding: 2mm !important;
                margin: 0 auto !important;
                background: #fff !important;
              }

              body > *:not(#receipt) {
                display: none !important;
              }

              #receipt {
                margin: 0 auto;
              }
            }
          `,
          type: "text/css"
        }
      ],
      __dangerouslyDisableSanitizers: ["style"]
    }
  },

  components: {
    Search,
    Product,
    CartItem,
    Receipt
  },

  async asyncData({ app }) {
    const products = app.$serviceFactory.productService().getAll()
    const services = app.$serviceFactory.serviceService().getAll()
    const settings = app.$serviceFactory.posService().getSettings()

    return Promise.all([products, services, settings]).then(promises => ({
      items: [
        ...promises[0].map(product => ({
          ...pick(product, ["id", "name"]),
          price: Number(product.price)
        })),

        ...promises[1].map(service => ({
          ...pick(service, ["id", "name"]),
          price: Number(service.price)
        }))
      ],

      settings: promises[2]
    }))
  },

  filters: {
    moneyFormat(number) {
      return Number(number).toLocaleString("en-PH", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })
    }
  },

  data() {
    return {
      query: "",

      cart: [],

      checkoutDialog: {
        active: false,
        amount: 0
      },

      snackbarActive: false,
      snackbarMessage: "",

      print: false
    }
  },

  computed: {
    dateToday() {
      return format(new Date(), "MMM DD, YYYY")
    },

    totalCartQuantity() {
      return this.cart.reduce((prev, item) => prev + item.quantity, 0)
    },

    vatSale() {
      return this.total / ((100 + this.settings.vatRate) / 100)
    },

    vat() {
      if (this.total === 0) {
        return 0
      }

      return this.total - this.vatSale
    },

    total() {
      return this.cart.reduce(
        (prev, item) => prev + item.price * item.quantity,
        0
      )
    },

    isCartEmpty() {
      return this.cart.length === 0
    },

    canCheckout() {
      return this.checkoutDialog.amount >= this.total
    },

    formData() {
      return {
        amount: this.checkoutDialog.amount,

        items: this.cart.map(cartItem => ({
          id: cartItem.id,
          qty: cartItem.quantity
        }))
      }
    }
  },

  watch: {
    cart: {
      deep: true,
      handler(cart) {
        cart.forEach((item, index) => {
          if (item.quantity === 0) {
            cart.splice(index, 1)
          }
        })
      }
    }
  },

  methods: {
    addToCart(item, quantity) {
      const cartItem = this.cart.find(cartItem => cartItem.id === item.id)

      if (cartItem === undefined) {
        this.cart.push({ ...item, quantity })

        this.$nextTick(() => {
          this.$refs.cart.scrollTop = this.$refs.cart.scrollHeight
        })
      } else {
        cartItem.quantity += quantity
      }
    },

    clearCart() {
      this.cart = []
    },

    openCheckout() {
      this.checkoutDialog.amount = 0.0
      this.checkoutDialog.active = true
    },

    closeCheckout() {
      this.checkoutDialog.active = false
    },

    delegateCheckout() {
      this.$refs.checkoutSubmit.click()
    },

    checkout() {
      this.$serviceFactory
        .posService()
        .checkout(this.formData)
        .then(data => {
          this.closeCheckout()
          this.printReceipt()
          this.$nextTick(() => {
            this.$root.$emit("showSnackbar", "Checkout successful")
            this.clearCart()
          })
        })
        .catch(error => {
          this.closeCheckout()
          this.$root.$emit("showSnackbar", error)
        })
    },

    printReceipt() {
      this.print = true
      this.$nextTick(() => {
        document.body.appendChild(this.$refs.receipt)
        window.print()
        this.print = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
#pos {
  height: 100%;

  @include md-layout-large-and-up {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 480px);
    grid-column-gap: 16px;
  }
}

// Why min-height on flex parent
// https://stackoverflow.com/a/42138018
.items-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.items__search {
  flex: 0 0 auto;
}

.price {
  @include peso-sign;
}

.pos-container {
  display: flex;
  flex-direction: column;
}

.pos__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
}
.pos__cart {
  flex: 1;
  overflow: auto;
  border-top: 1px solid rgba(#000, 0.12);
  border-bottom: 1px solid rgba(#000, 0.12);
}
.pos__calculation {
  dl {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  dt,
  dd {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(#000, 0.6);

    &.total {
      padding: 16px;
      font-size: 24px;
      color: rgba(#000, 0.87);
    }
  }
  dd {
    @include peso-sign;
    margin: 0;
    text-align: right;
  }
}

.pos__actions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
</style>
