<template>
  <activity-form :pet-id="$route.params.id" @cancel="goToPet" />
</template>

<script>
import ActivityForm from "~/components/pets/activities/ActivityForm"

export default {
  components: {
    ActivityForm
  },

  methods: {
    goToPet() {
      this.$router.push({
        name: "pets-id",
        params: { id: this.$route.params.id }
      })
    }
  }
}
</script>
