<script>
export default {
  name: "CalendarWeeks",

  props: {
    activeDay: {
      required: false,
      type: Number,
      default: null
    },

    mini: {
      required: false,
      type: Boolean,
      default: false
    }
  },

  render(h) {
    let weeks = [
      "Sunday",
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday"
    ]

    weeks = weeks.map((week, index) => {
      const classNames = ["calendar__week"]

      if (!this.mini && this.activeDay !== null && index === this.activeDay) {
        classNames.push("calendar__week--active")
      }

      if (this.mini) {
        classNames.push("calendar__week--mini")
      }

      return <div class={classNames}>{this.mini ? week.charAt(0) : week}</div>
    })

    return <div class="calendar__weeks">{weeks}</div>
  }
}
</script>

<style lang="scss" scoped>
.calendar__weeks {
  display: grid;
  grid-template-columns: repeat(7, (100% / 7));
}
.calendar__week {
  padding: 8px 16px;
  border-right: 1px solid rgba(#000, 0.16);

  &:first-child {
    border-left: 1px solid rgba(#000, 0.16);
  }

  &.calendar__week--active {
    color: #448aff;
  }

  &.calendar__week--mini {
    padding: 8px 0;
    text-align: center;
  }
}
</style>
