<script>
import isToday from "date-fns/is_today"

export default {
  name: "CalendarDay",

  props: {
    date: {
      required: true,
      type: Date
    },

    highlighted: {
      required: false,
      type: Boolean,
      default: false
    },

    inactive: {
      required: false,
      type: Boolean,
      default: false
    }
  },

  render(h) {
    const classNames = ["calendar__day"]

    if (this.highlighted) {
      classNames.push("calendar__day--highlighted")
    }

    if (this.inactive) {
      classNames.push("calendar__day--inactive")
    }

    if (isToday(this.date)) {
      classNames.push("calendar__day--today")
    }

    return (
      <div class={classNames}>
        <div class="calendar__date">{this.date.getDate()}</div>
      </div>
    )
  }
}
</script>

<style lang="scss" scoped>
.calendar__day {
  padding-left: 8px;
  border-right: 1px solid rgba(#000, 0.16);
  border-bottom: 1px solid rgba(#000, 0.16);
  user-select: none;
  cursor: pointer;

  &:nth-child(7n + 1) {
    border-left: 1px solid rgba(#000, 0.16);
  }
}

.calendar__day--today {
  background: #f5f5f5;

  .calendar__date {
    background: #448aff;
    color: #fff;
  }
}

.calendar__day--highlighted {
  background: #f5f5f5;
}

.calendar__day--inactive:not(.calendar__day--today) {
  .calendar__date {
    color: rgba(#000, 0.38);
  }
}

.calendar__date {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-top: 4px;
  border-radius: 50%;
}
</style>
