<template>
  <div :class="classNames">
    <div class="calendar__month">
      <div class="calendar__month-name">{{ monthName }} {{ year }}</div>
      <div class="calendar__month-actions">
        <v-btn small flat icon @click="goToPrev">
          <v-icon>chevron_left</v-icon>
        </v-btn>

        <v-btn small flat icon @click="goToNext">
          <v-icon>chevron_right</v-icon>
        </v-btn>
      </div>
    </div>

    <calendar-weeks :active-day="activeDate.getDay()" :mini="mini" />

    <div class="calendar__days">
      <calendar-day
        v-for="(date, index) in dates"
        :key="index"
        :date="date"
        :highlighted="isActiveDate(date)"
        :inactive="!isCurrentMonthDate(date)"
        @click.native="goToDate(date)"
      />
    </div>
  </div>
</template>

<script>
import format from "date-fns/format"
import subMonths from "date-fns/sub_months"
import addMonths from "date-fns/add_months"
import isSameDay from "date-fns/is_same_day"
import isSameMonth from "date-fns/is_same_month"

import CalendarWeeks from "./CalendarWeeks"
import CalendarDay from "./CalendarDay"

export default {
  name: "Calendar",
  components: { CalendarWeeks, CalendarDay },

  props: {
    activeDate: {
      required: false,
      type: Date,
      default: new Date()
    },

    mini: {
      required: false,
      type: Boolean,
      default: false
    }
  },

  computed: {
    classNames() {
      const classNames = ["calendar"]
      if (this.mini) {
        classNames.push("calendar--mini")
      }
      return classNames
    },

    monthName() {
      return format(this.activeDate, "MMMM")
    },

    year() {
      return format(this.activeDate, "YYYY")
    },

    dates() {
      const dates = []
      const activeYear = this.activeDate.getFullYear()
      const activeMonth = this.activeDate.getMonth()
      const currentDate = new Date(
        this.activeDate.getFullYear(),
        activeMonth,
        1
      )

      // Month does not start at Sunday. Rewind until we hit Sunday
      while (currentDate.getDay() >= 0) {
        if (currentDate.getDay() === 0) {
          break // It's Sunday!
        }
        currentDate.setDate(currentDate.getDate() - 1)
      }

      if (this.mini) {
        while (dates.length < 42) {
          dates.push(new Date(currentDate))
          currentDate.setDate(currentDate.getDate() + 1)
        }
      } else {
        const isNextMonth = () =>
          currentDate.getMonth() > activeMonth ||
          currentDate.getFullYear() > activeYear

        while (!isNextMonth() || currentDate.getDay() <= 6) {
          dates.push(new Date(currentDate))

          if (currentDate.getDay() === 6 && isNextMonth()) {
            break
          }

          currentDate.setDate(currentDate.getDate() + 1)
        }
      }

      return dates
    }
  },

  methods: {
    goToPrev() {
      this.$emit("update:activeDate", subMonths(this.activeDate, 1))
    },

    goToNext() {
      this.$emit("update:activeDate", addMonths(this.activeDate, 1))
    },

    goToDate(date) {
      this.$emit("update:activeDate", date)
    },

    isActiveDate(date) {
      return isSameDay(this.activeDate, date)
    },

    isCurrentMonthDate(date) {
      return isSameMonth(this.activeDate, date)
    }
  }
}
</script>

<style lang="scss" scoped>
.calendar {
  height: 100%;
}
.calendar__month {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba(#000, 0.16);
}
.calendar__month-name {
  font-size: 20px;
  font-weight: 500;
}
.calendar__month-actions {
  margin-left: auto;
  display: flex;
  align-items: center;

  .v-btn {
    margin: 0;
  }
}
.calendar__days {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(50px, auto);
}
.calendar--mini {
  height: auto;

  .calendar__month,
  .calendar__day {
    border: 0;
  }

  .calendar__month-name {
    font-size: 12px;
    font-weight: 400;
  }

  /deep/ {
    .calendar__week {
      border: 0;
    }

    .calendar__date {
      margin: 0 auto;
      font-size: 10px;
      font-weight: 500;
    }
  }

  .calendar__days {
    grid-auto-rows: auto;
  }

  .calendar__day {
    padding: 0;
  }

  .calendar__day--today,
  .calendar__day--highlighted {
    background: transparent;
  }

  .calendar__day:not(.calendar__day--today):hover,
  .calendar__day:not(.calendar__day--today).calendar__day--highlighted {
    /deep/ {
      .calendar__date {
        background: #e0e0e0;
      }
    }
  }
}
</style>
