<template>
  <v-card id="service-form">
    <v-card-text>
      <form method="POST" action="#" @submit.prevent="submit">
        <v-text-field v-model="name" label="Name" required />
        <v-text-field v-model="price" label="Price" required />
        <button v-show="false" ref="submit" />
      </form>
    </v-card-text>

    <v-card-actions>
      <v-spacer />
      <v-btn flat @click="cancel">Cancel</v-btn>
      <v-btn color="info" @click="delegateSubmit">
        {{ btnLabel }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import pick from "lodash.pick"

export default {
  name: "ServiceForm",

  props: {
    initialValues: {
      type: Object,
      default: () => ({})
    }
  },

  data() {
    return {
      name: null,
      price: null,
      ...pick(this.initialValues, ["id", "name", "price"])
    }
  },

  computed: {
    isEdit() {
      return this.initialValues.hasOwnProperty("id")
    },

    btnLabel() {
      return this.isEdit ? "Update Service" : "Add Service"
    }
  },

  methods: {
    cancel() {
      this.$emit("cancel")
    },

    delegateSubmit() {
      this.$refs.submit.click()
    },

    submit() {
      const serviceService = this.$serviceFactory.serviceService()

      const request = this.isEdit
        ? serviceService.update(this.$data)
        : serviceService.create(this.$data)

      request
        .then(data => this.$emit("submit", data))
        .catch(error => this.$root.$emit("showSnackbar", error))
    }
  }
}
</script>
