<template>
  <client-form @submit="onSubmit" @cancel="onCancel" />
</template>

<script>
import ClientForm from "~/components/clients/ClientForm"

export default {
  components: {
    ClientForm
  },

  methods: {
    onSubmit(data) {
      this.$router.push({ name: "clients" })
    },

    onCancel() {
      this.$router.push({ name: "clients" })
    }
  }
}
</script>

<style scoped>
#client-form {
  max-width: 480px;
  margin: 0 auto;
}
</style>
