<template>
  <div id="clients">
    <v-toolbar flat color="transparent">
      <div class="title" style="flex: 1;">Clients</div>
      <v-btn :to="{ name: 'clients-create' }" color="error" dark>
        <v-icon>add</v-icon> New Client
      </v-btn>
    </v-toolbar>

    <v-text-field
      v-model="query"
      class="clients__search"
      label="Search clients"
      prepend-inner-icon="search"
      solo
    />

    <search :query="query" :list="clients" :keys="['name']">
      <v-list slot-scope="{ result }" two-line v-if="result.length > 0">
        <v-list-tile
          v-for="{ id, name, picture, phone } in result"
          :key="id"
          :to="{ name: 'clients-id', params: { id } }"
          avatar
        >
          <v-list-tile-avatar>
            <img :src="picture" :alt="name" />
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{ name }}</v-list-tile-title>
            <v-list-tile-sub-title>{{ phone }}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </search>
  </div>
</template>

<script>
import Search from "~/components/Search.vue"

export default {
  async asyncData({ app }) {
    return {
      clients: await app.$serviceFactory.clientService().getAll()
    }
  },

  components: {
    Search
  },

  data() {
    return {
      query: ""
    }
  }
}
</script>

<style lang="scss" scoped>
#clients {
  height: 100%;
}
.clients__search {
  margin-top: 0;
}
</style>
