<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div id="appointments">
    <v-toolbar flat color="transparent">
      <div class="title" style="flex: 1;">
        Appointments ({{ formattedDate }})
      </div>
      <v-btn color="red" dark @click="openAppointmentDialog"
        ><v-icon>add</v-icon> New Appointment</v-btn
      >
      <v-dialog v-model="appointmentDialog.open" scrollable max-width="480px">
        <v-card>
          <v-card-title>New Appointment</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-form @submit.prevent="createAppointment">
              <v-autocomplete
                v-model="appointmentDialog.pet"
                :items="appointmentDialog.pets"
                :loading="appointmentDialog.isLoading"
                :search-input.sync="appointmentDialog.query"
                label="Pet"
                item-text="name"
                item-value="id"
                cache-items
                hide-selected
                hide-no-data
                no-filter
                required
              />
              <v-text-field
                v-model="appointmentDialog.notes"
                label="Notes"
                required
              />
              <v-layout align-center>
                <v-flex sm4 class="mr-2">
                  <v-menu lazy>
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="appointmentDialog.date"
                        type="date"
                        label="Date"
                        solo
                        readonly
                        hide-details
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="appointmentDialog.date"
                      no-title
                      @input="appointmentDialog.datePicker = false"
                    />
                  </v-menu>
                </v-flex>
                <v-flex sm4 class="mr-2">
                  <v-text-field
                    v-model="appointmentDialog.startTime"
                    type="time"
                    label="Start Time"
                    solo
                    required
                    hide-details
                  />
                </v-flex>
                <v-flex class="mr-2">to</v-flex>
                <v-flex sm4>
                  <v-text-field
                    v-model="appointmentDialog.endTime"
                    type="time"
                    label="End Time"
                    solo
                    required
                    hide-details
                  />
                </v-flex>
              </v-layout>
              <button v-show="false" ref="submit" />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn flat @click="closeAppointmentDialog">Close</v-btn>
            <v-btn color="blue darken-1" flat @click="$refs.submit.click()"
              >Schedule</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <div class="appointments">
      <div class="appointments__list">
        <appointment
          v-for="(appointment, index) in filteredAppointments"
          :key="index"
          :pet="appointment.pet.name"
          :notes="appointment.notes"
          :start-time="appointment.startTime"
          :end-time="appointment.endTime"
          :status="appointment.status"
          @done="onDone(appointment.id)"
          @scheduled="onScheduled(appointment.id)"
          @cancelled="onCancelled(appointment.id)"
          @delete="openDeleteDialog(appointment.id)"
        />
        <v-dialog v-model="deleteDialog.open" max-width="480">
          <v-card>
            <v-card-text>Delete appointment?</v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn flat @click="closeDeleteDialog">Cancel</v-btn>
              <v-btn flat color="blue" @click="deleteAppointment">Delete</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>

      <div class="calendar-container">
        <calendar ref="calendar" :active-date.sync="selectedDate" mini />
      </div>
    </div>
  </div>
</template>

<script>
import debounce from "lodash.debounce"
import format from "date-fns/format"
import addMinutes from "date-fns/add_minutes"

import {
  APPOINTMENT_SCHEDULED,
  APPOINTMENT_DONE,
  APPOINTMENT_CANCELLED
} from "../../../shared/constants"

import Calendar from "~~/shared/components/calendar/Calendar"
import Appointment from "~/components/appointments/Appointment"

export default {
  async asyncData({ app }) {
    const appointmentService = app.$serviceFactory.appointmentService()
    const date = new Date()
    const key = format(date, "YY-MM")

    return {
      appointments: {
        [key]: await appointmentService.getByMonth(new Date())
      }
    }
  },

  components: {
    Appointment,
    Calendar
  },

  data() {
    const dateNow = new Date()

    return {
      appointments: [],

      selectedDate: dateNow,

      appointmentDialog: {
        open: false,
        pet: null,
        notes: null,
        date: null,
        datePicker: false,
        startTime: null,
        endTime: null,

        pets: [],
        isLoading: false,
        query: null
      },

      deleteDialog: {
        open: false,
        id: null
      }
    }
  },

  computed: {
    formattedDate() {
      return format(this.selectedDate, "MMMM DD, YYYY")
    },

    monthKey() {
      return format(this.selectedDate, "YY-MM")
    },

    filteredAppointments() {
      const key = this.monthKey

      if (key in this.appointments) {
        return this.appointments[key].filter(
          appointment =>
            appointment.date.getDate() === this.selectedDate.getDate()
        )
      }

      return []
    }
  },

  watch: {
    selectedDate: debounce(function(newVal, oldVal) {
      if (newVal.getMonth() !== oldVal.getMonth()) {
        this.$serviceFactory
          .appointmentService()
          .getByMonth(newVal)
          .then(appointments => {
            const key = format(newVal, "YY-MM")
            this.appointments[key] = appointments
          })
          .catch(error => {
            console.error(error)
          })
      }
    }, 300),

    "appointmentDialog.query": debounce(function(newVal, oldVal) {
      if (!newVal) {
        return
      }

      this.appointmentDialog.isLoading = true

      this.$serviceFactory
        .petService()
        .search(newVal)
        .then(pets => {
          this.appointmentDialog.isLoading = false
          this.appointmentDialog.pets = pets.map(pet => ({
            id: pet.id,
            name: `${pet.name} (${pet.client.name})`
          }))
        })
        .catch(() => {
          this.appointmentDialog.isLoading = false
        })
    }, 300)
  },

  methods: {
    openAppointmentDialog() {
      this.appointmentDialog.date = format(this.selectedDate, "YYYY-MM-DD")

      const now = new Date()

      this.appointmentDialog.startTime = format(now, "HH:mm")
      this.appointmentDialog.endTime = format(addMinutes(now, 30), "HH:mm")
      this.appointmentDialog.open = true
    },

    closeAppointmentDialog() {
      Object.assign(this.appointmentDialog, {
        open: false,
        pet: null,
        notes: null,
        date: null,
        datePicker: false,
        startTime: null,
        endTime: null,
        pets: [],
        isLoading: false,
        query: null
      })
    },

    createAppointment() {
      const payload = {
        date: new Date(this.appointmentDialog.date),
        petId: this.appointmentDialog.pet,
        notes: this.appointmentDialog.notes,
        start: this.appointmentDialog.startTime,
        end: this.appointmentDialog.endTime
      }

      this.$serviceFactory
        .appointmentService()
        .create(payload)
        .then(appointment => {
          const key = format(payload.date, "YY-MM")
          this.appointments[key].push(appointment)
          this.closeAppointmentDialog()
        })
        .catch(error => {
          this.$root.$emit("showSnackbar", error.message)
        })
    },

    openDeleteDialog(id) {
      this.deleteDialog.id = id
      this.deleteDialog.open = true
    },

    closeDeleteDialog() {
      this.deleteDialog.id = null
      this.deleteDialog.open = false
    },

    deleteAppointment() {
      this.$serviceFactory
        .appointmentService()
        .delete(this.deleteDialog.id)
        .then(() => {
          const index = this.appointments[this.monthKey].findIndex(
            appointment => appointment.id === this.deleteDialog.id
          )
          this.appointments[this.monthKey].splice(index, 1)
          this.closeDeleteDialog()
        })
        .catch(error => {
          console.error(error)
        })
    },

    onDone(id) {
      this.$serviceFactory
        .appointmentService()
        .done(id)
        .then(() => {
          const appointment = this.filteredAppointments.find(
            appointment => appointment.id === id
          )
          appointment.status = APPOINTMENT_DONE
        })
    },

    onScheduled(id) {
      this.$serviceFactory
        .appointmentService()
        .schedule(id)
        .then(() => {
          const appointment = this.filteredAppointments.find(
            appointment => appointment.id === id
          )
          appointment.status = APPOINTMENT_SCHEDULED
        })
    },

    onCancelled(id) {
      this.$serviceFactory
        .appointmentService()
        .cancel(id)
        .then(() => {
          const appointment = this.filteredAppointments.find(
            appointment => appointment.id === id
          )
          appointment.status = APPOINTMENT_CANCELLED
        })
    }
  }
}
</script>

<style lang="scss" scoped>
#appointments {
  height: 100%;
}
.appointments {
  display: grid;
  grid-template-columns: 8fr 2fr;
}
.appointments__list {
  .appointment {
    margin-bottom: 16px;
  }
}
.calendar {
  padding: 0 24px;
}

#appointment-dialog {
  width: 480px;
}
</style>
