<script>
import {
  APPOINTMENT_SCHEDULED,
  APPOINTMENT_DONE,
  APPOINTMENT_CANCELLED
} from "../../../shared/constants"

export default {
  name: "Appointment",

  functional: true,

  props: {
    pet: {
      required: true,
      type: String
    },

    notes: {
      required: true,
      type: String
    },

    startTime: {
      required: true,
      type: String
    },

    endTime: {
      required: true,
      type: String
    },

    status: {
      required: true,
      type: String
    }
  },

  render(h, { props, listeners }) {
    const { pet, notes, startTime, endTime, status } = props

    let doneBtn = null
    let scheduleBtn = null
    let cancelBtn = null

    if (status !== APPOINTMENT_DONE) {
      doneBtn = (
        <v-btn small flat icon onClick={listeners.done}>
          <v-icon>done</v-icon>
        </v-btn>
      )
    }

    if (status !== APPOINTMENT_SCHEDULED) {
      scheduleBtn = (
        <v-btn small flat icon onClick={listeners.scheduled}>
          <v-icon>schedule</v-icon>
        </v-btn>
      )
    }

    if (status !== APPOINTMENT_CANCELLED) {
      cancelBtn = (
        <v-btn small flat icon onClick={listeners.cancelled}>
          <v-icon>block</v-icon>
        </v-btn>
      )
    }

    const prettyStatus = status.charAt(0).toUpperCase() + status.slice(1)

    return (
      <div class="appointment elevation-2">
        <div class="appointment__header">
          <div class="appointment__pet">{pet}</div>
          <div class="appointment__actions">
            {doneBtn}
            {scheduleBtn}
            {cancelBtn}
            <v-btn small flat icon onClick={listeners.delete}>
              <v-icon>delete</v-icon>
            </v-btn>
          </div>
        </div>
        <div class="appointment__notes">{notes}</div>
        <div class="appointment__time">
          {startTime} - {endTime} ({prettyStatus})
        </div>
      </div>
    )
  }
}
</script>

<style lang="scss" scoped>
.appointment {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
}
.appointment__header {
  display: flex;
  align-items: center;

  .appointment__actions {
    padding: 0;
  }
}
.appointment__pet {
  flex: 1;
  color: rgba(#000, 0.54);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.appointment__actions {
  display: flex;
  padding: 0 8px 8px;

  .v-btn {
    margin: 0;
  }

  .v-btn:not(:last-child) {
    margin-right: 8px;
  }
}
.appointment__notes {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  margin-bottom: 12px;

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.appointment__time {
  color: rgba(#000, 0.54);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
</style>
