<template>
  <div>
    <div id="slides" class="carousel" data-rides="carousel">
      <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active" />
        <li data-target="#slides" data-slide-to="1" />
        <li data-target="#slides" data-slide-to="2" />
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/public/babyhusky.jpg" />
          <div class="carousel-item-overlay" />
          <div class="carousel-caption display-3">
            Monjayfer Veterinary Clinic
          </div>
        </div>
        <div class="carousel-item">
          <img src="/public/cat.jpg" />
          <div class="carousel-item-overlay" />
          <div class="carousel-caption display-3">We care for your Pets</div>
        </div>
        <div class="carousel-item">
          <img src="/public/catdog.jpg" />
          <div class="carousel-item-overlay" />
          <div class="carousel-caption display-3">Sharing is Caring</div>
        </div>
        <a
          class="carousel-control-prev"
          href="#slides"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true" />
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#slides"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true" />
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <section id="services" class="section">
      <h1 class="section__title">Services and Products</h1>
      <div class="services container">
        <v-tabs v-model="tab" centered fixed-tabs>
          <v-tab ripple>Services</v-tab>
          <v-tab ripple>Products</v-tab>
          <v-tab-item>
            <v-list two-line>
              <v-list-tile v-for="(service, index) in services" :key="index">
                <v-list-tile-content>
                  <v-list-tile-title>{{ service.name }}</v-list-tile-title>
                  <v-list-tile-sub-title class="peso"
                    >Price:
                    {{ service.price | moneyFormat }}</v-list-tile-sub-title
                  >
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-tab-item>
          <v-tab-item>
            <v-list two-line>
              <v-list-tile v-for="(product, index) in products" :key="index">
                <v-list-tile-content>
                  <v-list-tile-title>{{ product.name }}</v-list-tile-title>
                  <v-list-tile-sub-title class="peso"
                    >Price:
                    {{ product.price | moneyFormat }}</v-list-tile-sub-title
                  >
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-tab-item>
        </v-tabs>
      </div>
    </section>

    <section id="team" class="section">
      <h1 class="section__title">Meet the Team</h1>
      <div class="veterinarians container">
        <div class="row">
          <div class="col-md-4">
            <div class="veterinarian card">
              <img class="card-img-top" src="/public/male_vet.jpg" />
              <div class="card-body">
                <div class="card-title text-center">
                  Dr. Raymond Paul Ocampo
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="veterinarian card">
              <img class="card-img-top" src="/public/female_vet.jpg" />
              <div class="card-body">
                <div class="card-title text-center">Dr. Lerma Ocampo</div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="veterinarian card">
              <img class="card-img-top" src="/public/male_vet2.jpg" />
              <div class="card-body">
                <div class="card-title text-center">
                  Mr. Assistant Veterinarian
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="section">
      <h1 class="section__title">About Us</h1>
      <div class="container">
        <p>
          Monjayfer Veterinary Clinic was founded on June, year 2008 by Dr.
          Raymond Paul Ocampo and his wife Dr. Lerma Ocampo together. Also with
          our General Practitioner Veterinarian presence. We can surely assure
          to provide you all the services you need for any kind of pet.
        </p>
        <p>
          The Clinic offers good quality products that your pet will be needing
          and the services that will surely satisfy your pet and your convenient
          stay. Our Clinic also offers home service for wild animals open for
          selling animals. You can visit our clinic or get an appointment
          through this website for your convenience. So, What are you waiting
          for?
        </p>
        <p>
          Feel free to visit our Clinic or explore our website for your
          concerns, and let your pet feel the relaxation and services they need.
        </p>
      </div>
    </section>

    <section id="contactus" class="section">
      <h1 class="section__title">Contact Us</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <form id="inquiries" action="/inquiries" @submit.prevent="submit">
              <div class="mb-2">
                <v-text-field
                  v-model="inquiry.sender"
                  label="Contact"
                  hint="Email or Phone number"
                />
              </div>

              <div class="mb-2">
                <v-text-field v-model="inquiry.message" label="Message" />
              </div>

              <div ref="recaptcha" class="g-recaptcha mb-2" />

              <v-btn
                :loading="inquiry.loading"
                :disabled="incomplete || token === null || inquiry.loading"
                class="mx-0"
                color="info"
                type="submit"
              >
                Send
                <template v-slot:loader>
                  <span class="custom-loader">
                    <v-icon light>cached</v-icon>
                  </span>
                </template>
              </v-btn>
            </form>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <h4 class="title">Address</h4>
              <address class="body-1">
                104 Doña Ponciana Bldg.,<br />
                Rizal Street, San Nicolas,<br />
                Angeles City, Pampanga.
              </address>
            </div>

            <div>
              <h4 class="title">Schedule</h4>
              <p class="body-1">
                Monday to Saturday: 9:00 AM - 6:00 PM<br />
                Sunday: Close (by appointment only)
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  head() {
    return {
      script: [
        {
          src: "https://www.google.com/recaptcha/api.js?render=explicit",
          async: true,
          defer: true
        }
      ]
    }
  },

  filters: {
    moneyFormat(number) {
      return Number(number).toLocaleString("en-PH", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })
    }
  },

  data() {
    return {
      services: [],
      products: [],

      inquiry: {
        sender: "",
        message: "",
        loading: false
      },

      token: null,

      snackbar: {
        active: false,
        message: ""
      }
    }
  },

  computed: {
    incomplete() {
      return !(this.inquiry.sender && this.inquiry.message)
    }
  },

  created() {
    if (process.server) {
      return
    }

    this.$serviceFactory
      .serviceService()
      .getAll()
      .then(services => {
        this.services = services
      })

    this.$serviceFactory
      .productService()
      .getAll()
      .then(products => {
        this.products = products
      })
  },

  mounted() {
    const recaptchaRender = setInterval(() => {
      if (
        typeof window.grecaptcha !== "undefined" &&
        typeof window.grecaptcha.render !== "undefined"
      ) {
        this.$options.widgetId = window.grecaptcha.render(
          this.$refs.recaptcha,
          {
            sitekey: process.env.recaptcha,
            callback: token => {
              this.token = token
            }
          }
        )

        clearInterval(recaptchaRender)
      }
    }, 1000)
  },

  methods: {
    submit() {
      this.inquiry.loading = true

      const payload = {
        sender: this.inquiry.sender,
        message: this.inquiry.message,
        token: this.token
      }

      this.$serviceFactory
        .inquiryService()
        .create(payload)
        .then(data => {
          this.inquiry = {
            contact: "",
            message: "",
            loading: false
          }
          this.token = null
          this.$root.$emit("showSnackbar", "Your message was sent")
          window.grecaptcha.reset(this.$options.widgetId)
        })
        .catch(errors => {
          this.showSnackbar(
            "Cannot send message right now. Please try again later"
          )
        })
    }
  }
}
</script>

<style lang="scss">
@import "../../shared/assets/mixins.scss";

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.peso {
  @include peso-sign;
}
</style>
