<template>
  <v-card id="product-form">
    <v-card-text>
      <form method="POST" action="#" @submit.prevent="submit">
        <v-text-field v-model="name" label="Name" required />
        <v-text-field v-model="price" label="Price" type="number" required />
        <v-text-field
          v-if="!isEdit"
          v-model="stocks"
          label="Available Stocks"
          type="number"
          required
        />
        <v-text-field
          v-model="depletingQty"
          label="Depleting Quantity"
          type="number"
          required
        />
        <button v-show="false" ref="submit" />
      </form>
    </v-card-text>

    <v-card-actions>
      <v-spacer />
      <v-btn flat @click="cancel">Cancel</v-btn>
      <v-btn color="info" @click="delegateSubmit">
        {{ btnLabel }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import pick from "lodash.pick"

export default {
  name: "ProductForm",

  props: {
    initialValues: {
      type: Object,
      default: () => ({})
    }
  },

  data() {
    return {
      name: null,
      price: null,
      stocks: 0,
      depletingQty: 0,
      ...pick(this.initialValues, [
        "id",
        "name",
        "price",
        "stocks",
        "depletingQty"
      ])
    }
  },

  computed: {
    isEdit() {
      return this.initialValues.hasOwnProperty("id")
    },

    btnLabel() {
      return this.isEdit ? "Update Product" : "Add Product"
    }
  },

  methods: {
    cancel() {
      this.$emit("cancel")
    },

    delegateSubmit() {
      this.$refs.submit.click()
    },

    submit() {
      const productService = this.$serviceFactory.productService()

      const request = this.isEdit
        ? productService.update(this.$data)
        : productService.create(this.$data)

      request
        .then(data => this.$emit("submit", data))
        .catch(error => this.$root.$emit("showSnackbar", error))
    }
  }
}
</script>
