@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html {
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-size: 34px;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
  letter-spacing: 0;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.md-tabs-navigation,
.md-tabs-content {
  background-color: transparent !important;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  background-color: #fff;
}

.navbar-brand img {
  width: 80px;
  margin-right: 24px;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  max-height: 768px;
}

.carousel-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
  height: 100%;
  width: 100%;
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

.carousel-caption h4 {
  font-size: 250%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h5 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 15px #000;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1.5rem;
}

.section {
  padding-top: 128px;
  padding-bottom: 128px;
}

.section:nth-of-type(odd) {
  background-color: #fafafa;
}

.section:nth-of-type(even) {
  background: #eeeeee;
}

.section__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 96px;
}

.service__thumbnail {
  height: 240px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__thumbnail img {
  height: 100%;
}

.service__title {
  font-size: 34px;
  letter-spacing: 0.25px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

.service p {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.veterinarian .card-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
  text-align: center;
}

#about p,
#about address {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-align: justify;
}
