<template>
  <product-form @submit="onSubmit" @cancel="onCancel" />
</template>

<script>
import ProductForm from "~/components/products/ProductForm.vue"

export default {
  components: {
    ProductForm
  },

  methods: {
    onSubmit(data) {
      this.$router.push({ name: "products" })
    },

    onCancel() {
      this.$router.push({ name: "products" })
    }
  }
}
</script>

<style scoped>
#product-form {
  max-width: 480px;
  margin: 0 auto;
}
</style>
