<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div id="products">
    <v-toolbar flat color="transparent">
      <div class="title" style="flex: 1;">Products</div>
      <v-btn :to="{ name: 'products-create' }" color="error" dark>
        <v-icon>add</v-icon> New Product
      </v-btn>
    </v-toolbar>

    <v-text-field
      v-model="query"
      class="products__search"
      label="Search products"
      prepend-inner-icon="search"
      solo
    />

    <search :query="query" :list="products" :keys="['name']">
      <v-data-table
        slot-scope="{ result }"
        :headers="$options.headers"
        :items="result"
      >
        <template v-slot:items="props">
          <td>{{ props.item.name }}</td>
          <td class="text-xs-right">{{ props.item.price }}</td>
          <td class="text-xs-right">{{ props.item.stocks }}</td>
          <td class="text-xs-right">{{ props.item.depletingQty }}</td>
          <td class="justify-center layout px-0">
            <v-btn small flat icon @click="openRestock(props.item.id)">
              <v-icon>add</v-icon>
            </v-btn>

            <v-btn small flat icon @click="openConsume(props.item.id)">
              <v-icon>remove</v-icon>
            </v-btn>

            <v-btn
              :to="{ name: 'products-id-edit', params: { id: props.item.id } }"
              small
              flat
              icon
            >
              <v-icon>edit</v-icon>
            </v-btn>

            <v-btn
              small
              flat
              icon
              @click="openDeleteDialog(props.item.id)"
            >
              <v-icon>delete</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </search>

    <v-dialog v-model="restock.active" max-width="360">
      <v-card>
        <v-card-title>
          <div class="title">Restock Product</div>
        </v-card-title>

        <v-card-text>
          <form action="#" @submit.prevent="restockProduct">
            <v-text-field
              v-model.number="restock.qty"
              label="Quantity"
              type="number"
              required
            />
            <button
              v-show="false"
              ref="restockSubmit"
              :disabled="restock.qty <= 0"
            />
          </form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn flat @click="closeRestock">Cancel</v-btn>
          <v-btn
            :disabled="restock.qty <= 0"
            flat
            color="blue"
            @click="delegateRestock"
            >Restock</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="consume.active" max-width="360">
      <v-card>
        <v-card-title>
          <div class="title">Consume Product</div>
        </v-card-title>

        <v-card-text>
          <form action="#" @submit.prevent="consumeProduct">
            <v-text-field
              v-model.number="consume.qty"
              label="Quantity"
              type="number"
              required
            />
            <button
              v-show="false"
              ref="consumeSubmit"
              :disabled="consume.qty <= 0"
            />
          </form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn flat @click="closeConsume">Cancel</v-btn>
          <v-btn
            :disabled="consume.qty <= 0"
            flat
            color="blue"
            @click="delegateConsume"
            >Consume</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deleteDialog.active" max-width="480">
      <v-card>
        <v-card-text
          >This will permanently delete the product and cannot be undone. Delete
          product?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn flat @click="closeDeleteDialog">Cancel</v-btn>
          <v-btn flat color="blue" @click="deleteProduct">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Search from "~/components/Search.vue"

export default {
  components: {
    Search
  },

  async asyncData({ app }) {
    const products = await app.$serviceFactory.productService().getAll()

    return {
      products: products.sort((a, b) => a.name.localeCompare(b.name))
    }
  },

  filters: {
    moneyFormat(number) {
      return Number(number).toLocaleString("en-PH", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })
    }
  },

  headers: [
    { text: "Name", value: "name" },
    { text: "Price", value: "price", align: "right" },
    { text: "Available Stocks", value: "stocks", align: "right" },
    { text: "Depleting Qty", value: "depletingQty", align: "right" },
    { text: "Actions", sortable: false }
  ],

  data() {
    return {
      query: "",

      restock: {
        active: false,
        qty: 0,
        productId: null
      },

      consume: {
        active: false,
        qty: 0,
        productId: null
      },

      deleteDialog: {
        active: false,
        productId: null
      }
    }
  },

  methods: {
    isDepleting(product) {
      return product.stocks <= product.depletingQty
    },

    getProduct(productId) {
      return this.products.find(product => product.id === productId)
    },

    openRestock(productId) {
      Object.assign(this.restock, { productId, active: true })
    },

    closeRestock() {
      this.restock = {
        qty: 0,
        productId: null,
        active: false
      }
    },

    delegateRestock() {
      this.$refs.restockSubmit.click()
    },

    restockProduct() {
      const { productId, qty } = this.restock
      this.$serviceFactory
        .productService()
        .restock(productId, qty)
        .then(data => {
          this.getProduct(productId).stocks += qty
          this.closeRestock()
          this.$root.$emit("showSnackbar", "Product restocked")
        })
        .catch(error => {
          this.closeRestock()
          this.$root.$emit("showSnackbar", error)
        })
    },

    openConsume(productId) {
      Object.assign(this.consume, { productId, active: true })
    },

    closeConsume() {
      this.consume = {
        active: false,
        qty: 0,
        productId: null
      }
    },

    delegateConsume() {
      this.$refs.consumeSubmit.click()
    },

    consumeProduct() {
      const { productId, qty } = this.consume
      this.$serviceFactory
        .productService()
        .consume(productId, qty)
        .then(data => {
          this.getProduct(productId).stocks -= qty
          this.closeConsume()
          this.$root.$emit("showSnackbar", "Product consumed")
        })
        .catch(error => {
          this.closeConsume()
          this.$root.$emit("showSnackbar", error)
        })
    },

    openDeleteDialog(productId) {
      this.deleteDialog = { active: true, productId }
    },

    closeDeleteDialog() {
      this.deleteDialog = { active: false, productId: null }
    },

    deleteProduct() {
      const { productId } = this.deleteDialog
      this.$serviceFactory
        .productService()
        .deleteById(productId)
        .then(data => {
          this.products.splice(
            this.products.findIndex(product => product.id === productId),
            1
          )
          this.closeDeleteDialog()
          this.$root.$emit("showSnackbar", "Delete successful")
        })
        .catch(error => {
          this.closeDeleteDialog()
          this.$root.$emit("showSnackbar", error)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.md-subheading {
  display: flex;
  align-items: center;

  .md-button {
    margin-left: auto;
  }
}
.products__search {
  margin-top: 0;
}

#products-table {
  .md-table-row.md-accent {
    color: #fff;
    background-color: #ff5252;

    .md-button .md-icon {
      color: #fff;
    }
  }

  .product-price /deep/ .md-table-cell-container {
    @include peso-sign;
  }
}
</style>
