<template>
  <form id="activity-form" action="#" @submit.prevent="save">
    <v-text-field v-model="date" label="Date" type="date" requried />
    <v-text-field v-model="subject" label="Subject" required />

    <no-ssr>
      <div class="editor">
        <editor-menu-bar :editor="editor">
          <div
            slot-scope="{ commands, isActive, getMarkAttrs }"
            class="editor__menubar"
          >
            <div class="menubar__group">
              <v-btn
                :class="{ 'is-active': isActive.bold() }"
                small
                flat
                icon
                @click="commands.bold"
              >
                <v-icon>format_bold</v-icon>
              </v-btn>

              <v-btn
                :class="{ 'is-active': isActive.italic() }"
                small
                flat
                icon
                @click="commands.italic"
              >
                <v-icon>format_italic</v-icon>
              </v-btn>

              <v-btn
                :class="{ 'is-active': isActive.underline() }"
                small
                flat
                icon
                @click="commands.underline"
              >
                <v-icon>format_underline</v-icon>
              </v-btn>

              <v-btn
                :class="{ 'is-active': isActive.strike() }"
                small
                flat
                icon
                @click="commands.strike"
              >
                <v-icon>format_strikethrough</v-icon>
              </v-btn>
            </div>

            <div class="menubar__group">
              <v-btn
                :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                small
                flat
                icon
                @click="commands.heading({ level: 1 })"
              >
                H1
              </v-btn>

              <v-btn
                :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                small
                flat
                icon
                @click="commands.heading({ level: 2 })"
              >
                H2
              </v-btn>

              <v-btn
                :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                small
                flat
                icon
                @click="commands.heading({ level: 3 })"
              >
                H3
              </v-btn>
            </div>

            <div class="menubar__group">
              <v-btn
                :class="{ 'is-active': isActive.bullet_list() }"
                small
                flat
                icon
                @click="commands.bullet_list"
              >
                <v-icon>format_list_bulleted</v-icon>
              </v-btn>

              <v-btn
                :class="{ 'is-active': isActive.ordered_list() }"
                small
                flat
                icon
                @click="commands.ordered_list"
              >
                <v-icon>format_list_numbered</v-icon>
              </v-btn>
            </div>

            <div class="menubar__group">
              <v-btn
                :class="{ 'is-active': isActive.blockquote() }"
                small
                flat
                icon
                @click="commands.blockquote"
              >
                <v-icon>format_quote</v-icon>
              </v-btn>
            </div>
          </div>
        </editor-menu-bar>

        <editor-content :editor="editor" class="editor__content" />
      </div>
    </no-ssr>

    <div style="margin-top: 16px; text-align: right">
      <v-btn flat @click="cancel">Cancel</v-btn>
      <v-btn type="submit" color="info">
        {{ btnLabel }}
      </v-btn>
    </div>
  </form>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar } from "tiptap"

import {
  Bold,
  Italic,
  Underline,
  Strike,
  Heading,
  BulletList,
  OrderedList,
  ListItem,
  Blockquote,
  HardBreak,
  History,
  Placeholder
} from "tiptap-extensions"

import format from "date-fns/format"
import pick from "lodash.pick"

let editor

export default {
  name: "ActivityForm",

  components: {
    EditorContent,
    EditorMenuBar
  },

  props: {
    petId: {
      required: true,
      type: String
    },

    initialValues: {
      type: Object,
      default: () => ({})
    }
  },

  data() {
    const data = {
      editor: null,
      date: new Date(),
      subject: null,
      activity: null,
      ...pick(this.initialValues, ["id", "date", "subject", "activity"])
    }

    if (data.date instanceof Date) {
      data.date = format(data.date, "YYYY-MM-DD")
    }

    return data
  },

  computed: {
    isEdit() {
      return !!this.initialValues && this.initialValues.hasOwnProperty("id")
    },

    btnLabel() {
      return this.isEdit ? "Update Activity" : "Create Activity"
    },

    formData() {
      return pick(this.$data, ["id", "date", "subject", "activity"])
    }
  },

  mounted() {
    this.editor = new Editor({
      onUpdate: this.onUpdate,
      content: this.activity,
      extensions: [
        new Bold(),
        new Italic(),
        new Underline(),
        new Strike(),
        new Heading({ maxLevel: 3 }),
        new BulletList(),
        new OrderedList(),
        new ListItem(),
        new Blockquote(),
        new HardBreak(),
        new History(),
        new Placeholder({ emptyNodeClass: "is-empty" })
      ]
    })
  },

  beforeDestroy() {
    this.editor.destroy()
  },

  methods: {
    onUpdate({ getHTML, getJSON, state }) {
      this.activity = getHTML()
    },

    cancel() {
      this.$emit("cancel")
    },

    save() {
      const petService = this.$serviceFactory.petService()
      const activityService = this.$serviceFactory.activityService()

      const request = this.isEdit
        ? activityService.update(this.formData)
        : petService.createActivity(this.petId, this.formData)

      request.then(data => {
        this.$router.push({
          name: "pets-id-activities-aId",
          params: {
            id: this.petId,
            aId: this.isEdit ? this.id : data.id
          }
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
#activity-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  .v-input {
    flex: 0 0 auto;
  }
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor__menubar {
  display: flex;
  margin-bottom: 8px;
}

.menubar__group {
  display: flex;
  border-top: 1px solid rgba(#000, 0.12);
  border-bottom: 1px solid rgba(#000, 0.12);
  border-left: 1px solid rgba(#000, 0.12);

  &:last-child {
    border-right: 1px solid rgba(#000, 0.12);
  }

  .v-btn.is-active {
    background: rgba(#000, 0.2);
  }

  .v-btn,
  .v-btn:before {
    border-radius: 0;
  }
}

.editor__content {
  flex: 1;
  min-height: 0;
  border: 1px solid rgba(#000, 0.12);
}

/deep/ .ProseMirror {
  padding: 16px;
  height: 100%;
  overflow: auto;

  blockquote {
    border-left: 3px solid rgba(#000, 0.12);
    font-style: italic;
    color: rgba(#000, 0.54);
    padding: 0 12px;
  }
}

/deep/ .is-empty:first-child::before {
  content: "Start typing…";
  float: left;
  color: rgba(#000, 0.38);
  pointer-events: none;
  height: 0;
  font-style: italic;
}
</style>
