<template>
  <div id="pet">
    <v-card class="pet__card">
      <v-card-title>
        <v-avatar color="blue" size="64">{{ name[0] }}</v-avatar>
        <h1 class="title ml-3">{{ name }}</h1>
        <div class="pet__actions" style="margin-left: auto;">
          <v-btn
            :to="{ name: 'clients-id', params: { id: client.id } }"
            flat
            color="info"
          >
            <v-icon>launch</v-icon> See Owner
          </v-btn>

          <v-btn flat icon @click="openPetDialog">
            <v-icon>edit</v-icon>
          </v-btn>

          <v-btn flat icon @click="openDeleteDialog">
            <v-icon>delete</v-icon>
          </v-btn>
        </div>
      </v-card-title>

      <v-divider />

      <v-card-text>
        <h3 class="subheading">Pet Details</h3>

        <v-list two-line>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{ computedSex }}</v-list-tile-title>
              <v-list-tile-sub-title>Sex</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{ species }}</v-list-tile-title>
              <v-list-tile-sub-title>Species</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{ breed }}</v-list-tile-title>
              <v-list-tile-sub-title>Breed</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title
                >{{ computedAge }} ({{ computedBirthday }})</v-list-tile-title
              >
              <v-list-tile-sub-title>Age</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card-text>

      <v-divider />

      <v-card-text>
        <h3 class="subheading">
          Activities ({{ activities.length }})
          <v-btn
            :to="{ name: 'pets-id-activities-create', params: { id } }"
            flat
            color="info"
            style="float: right;"
          >
            <v-icon>add</v-icon> Add Activity
          </v-btn>
        </h3>

        <v-list two-line>
          <v-list-tile
            v-for="activity in activities"
            :key="activity.id"
            :to="{
              name: 'pets-id-activities-aId',
              params: { id, aId: activity.id }
            }"
          >
            <v-list-tile-content>
              <v-list-tile-title>{{ activity.subject }}</v-list-tile-title>
              <v-list-tile-sub-title>{{
                formatDate(activity.date)
              }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card-text>
    </v-card>

    <pet-form-dialog
      ref="petDialog"
      :open.sync="petDialog.open"
      :client-id="client.id"
      :initial-values="$data"
      @submit="onPetUpdated"
    />

    <v-dialog v-model="deleteDialog.open" max-width="480">
      <v-card>
        <v-card-text
          >This will permanently delete the pet record including its activity
          records and cannot be undone. Delete pet?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn flat @click="closeDeleteDialog">Cancel</v-btn>
          <v-btn flat color="blue" @click="deletePet">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import PetFormDialog from "~/components/pets/PetFormDialog"

import format from "date-fns/format"
import differenceInYears from "date-fns/difference_in_years"
import differenceInMonths from "date-fns/difference_in_months"
import differenceInDays from "date-fns/difference_in_days"

export default {
  async asyncData({ app, params }) {
    const pet = app.$serviceFactory.petService().getById(params.id)
    const activities = app.$serviceFactory.petService().getActivities(params.id)

    return Promise.all([pet, activities]).then(promises => ({
      ...promises[0],
      activities: promises[1]
    }))
  },

  components: {
    PetFormDialog
  },

  data() {
    return {
      petDialog: {
        open: false
      },

      deleteDialog: {
        open: false
      }
    }
  },

  computed: {
    computedSex() {
      switch (this.sex) {
        case 1:
          return "Male"
        case 2:
          return "Female"
        default:
          return "Unknown"
      }
    },

    ageYear() {
      return differenceInYears(new Date(), this.birthday)
    },

    ageMonths() {
      return differenceInMonths(new Date(), this.birthday)
    },

    ageDays() {
      return differenceInDays(new Date(), this.birthday)
    },

    computedAge() {
      if (this.ageYear >= 1) {
        return this.ageYear + (this.ageYear === 1 ? " yr" : " yrs")
      }
      if (this.ageMonths >= 1) {
        return this.ageMonths + (this.ageMonths === 1 ? " month" : " months")
      }
      return this.ageDays + (this.ageDays === 1 ? " day" : " days")
    },

    computedBirthday() {
      return format(this.birthday, "MMMM DD, YYYY")
    }
  },

  methods: {
    openPetDialog() {
      this.petDialog.open = true
    },

    onPetUpdated(pet) {
      Object.assign(this.$data, this.$refs.petDialog.$data)
      this.petDialog.open = false
    },

    openDeleteDialog() {
      this.deleteDialog.open = true
    },

    closeDeleteDialog() {
      this.deleteDialog.open = false
    },

    deletePet() {
      this.$serviceFactory
        .petService()
        .deleteById(this.id)
        .then(() => {
          this.$router.push({
            name: "clients-id",
            params: { id: this.client.id }
          })
        })
        .catch(error => {
          this.closeDelete()
        })
    },

    formatDate(date) {
      return format(date, "MMMM DD")
    }
  }
}
</script>
