<template>
  <div class="pos__cart-item">
    <div class="cart-item__product">{{ name }}</div>
    <div class="cart-item__quantity">
      <v-btn small flat icon @click="decrement">
        <v-icon>remove</v-icon>
      </v-btn>

      <input
        :value="quantity"
        type="tel"
        @input="onQuantityInput"
        @blur="onQuantityBlur"
      />

      <v-btn small flat icon @click="increment">
        <v-icon>add</v-icon>
      </v-btn>
    </div>
    <div class="cart-item__subtotal">{{ subTotal }}</div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: null
    },

    name: {
      required: true,
      type: String
    },

    price: {
      required: true,
      type: Number
    },

    quantity: {
      required: true,
      type: Number
    }
  },

  computed: {
    subTotal() {
      const subtotal = this.price * this.quantity
      return subtotal.toLocaleString("en-PH", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })
    }
  },

  methods: {
    decrement() {
      this.$emit("update:quantity", this.quantity - 1)
    },

    increment() {
      this.$emit("update:quantity", this.quantity + 1)
    },

    onQuantityInput(evt) {
      const { value } = evt.target
      const isNumeric = value !== "" && !isNaN(value) && isFinite(value)

      // Has spaces or dots
      if (/\s|\./.test(value)) {
        evt.target.value = this.quantity
      }

      // All positive numbers including 0
      else if (isNumeric && value >= 0) {
        this.$emit("update:quantity", Number(value))
      }

      // Anything not an empty string
      else if (value !== "") {
        evt.target.value = this.quantity
      }
    },

    onQuantityBlur(evt) {
      if (evt.target.value === "") {
        this.$emit("update:quantity", 0)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.pos__cart-item {
  padding: 16px;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 2fr;
}
.cart-item__product {
  font-weight: 700;
  word-break: break-word;
}
.cart-item__quantity {
  display: flex;
  align-items: center;
  margin: 0 16px;
  input {
    width: 48px;
    text-align: right;
    margin: 0 8px;
    padding: 8px;
  }
}
.cart-item__subtotal {
  text-align: right;
  min-width: 32px;
  white-space: nowrap;

  &::before {
    content: "\20b1 ";
  }
}
</style>
