<template>
  <md-card class="product">
    <md-card-media md-ratio="4/3">
      <img :src="picture" :alt="name" draggable="false" />
    </md-card-media>
    <md-card-area>
      <md-card-header>
        <div :title="name" class="md-title">{{ name }}</div>
        <div class="md-subhead">
          <span class="product__price">{{ price | moneyFormat }}</span>
        </div>
      </md-card-header>
    </md-card-area>
  </md-card>
</template>

<script>
export default {
  name: "Product",

  filters: {
    moneyFormat(number) {
      return Number(number).toLocaleString("en-PH", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })
    }
  },

  props: {
    name: {
      required: true,
      type: String
    },

    price: {
      required: true,
      type: Number
    },

    picture: {
      required: true,
      type: String
    }
  }
}
</script>

<style lang="scss" scoped>
.product {
  cursor: pointer;
  user-select: none;
  margin: 0;
  .md-title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.product__price {
  &::before {
    content: "\20b1 ";
  }
}
</style>
