<script>
import format from "date-fns/format"

export default {
  name: "POSReceipt",

  functional: true,

  props: {
    items: {
      required: true,
      type: Array
    },

    vat: {
      required: true,
      type: Number
    },

    cash: {
      required: true,
      type: Number
    }
  },

  render: (h, { data, props }) => {
    const date = new Date()
    const { items, cash } = props

    const total = items.reduce(
      (prev, { price, quantity }) => prev + price * quantity,
      0
    )

    const vatSale = total / ((100 + props.vat) / 100)
    const vat = total === 0 ? 0 : total - vatSale

    const totalQty = items.reduce((prev, { quantity }) => prev + quantity, 0)

    const moneyFormat = number =>
      number.toLocaleString("en-PH", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })

    const itemsEl = items.map(item => (
      <tr>
        <td class="item__quantity">{item.quantity}</td>
        <td class="item__name">{item.name}</td>
        <td class="item__price">{moneyFormat(item.price * item.quantity)}</td>
      </tr>
    ))

    return (
      <div id="receipt" {...data}>
        <h1>Monjayfer Veterinary Clinic</h1>

        <table>
          <colgroup>
            <col style="width: 15%;" />
            <col style="width: 85%;" />
          </colgroup>
          <tbody>
            <tr>
              <th>Date</th>
              <td>{format(date, "dddd MMMM DD, YYYY")}</td>
            </tr>
            <tr>
              <th>Time</th>
              <td>{format(date, "hh:mm A")}</td>
            </tr>
          </tbody>
        </table>

        <table id="items">
          <colgroup>
            <col style="width: 15%;" />
            <col style="width: 55%;" />
            <col style="width: 30%;" />
          </colgroup>
          <thead>
            <tr>
              <th class="item__quantity">Qty</th>
              <th class="item__name">Name</th>
              <th class="item__price">Price</th>
            </tr>
          </thead>
          <tbody>{itemsEl}</tbody>
          <tfoot>
            <tr>
              <td />
              <th>VAT Sale</th>
              <td>{moneyFormat(vatSale)}</td>
            </tr>
            <tr>
              <td />
              <th>VAT</th>
              <td>{moneyFormat(vat)}</td>
            </tr>
            <tr>
              <td>{totalQty}</td>
              <th>Total</th>
              <td>{moneyFormat(total)}</td>
            </tr>
            <tr>
              <td />
              <th>Cash</th>
              <td colSpan="2">{moneyFormat(cash)}</td>
            </tr>
            <tr>
              <td />
              <th>Change</th>
              <td colSpan="2">{moneyFormat(cash - total)}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    )
  }
}
</script>

<style lang="scss" scoped>
#receipt h1 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  text-align: center;
}

#receipt dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#receipt table {
  width: 100%;
  border-collapse: collapse;

  thead,
  tbody {
    border-bottom: 1px solid #000;
  }

  th,
  td {
    padding: 1mm;
    text-align: left;
    word-break: break-word;
  }
}

#items {
  table-layout: fixed;

  .item__quantity,
  .item__price,
  tfoot td {
    text-align: right;
  }
}
</style>
