<template>
  <client-form
    :initial-values="$data"
    @cancel="goToClient"
    @submit="goToClient"
  />
</template>

<script>
import ClientForm from "~/components/clients/ClientForm"

export default {
  asyncData({ app, params }) {
    return app.$serviceFactory.clientService().getById(params.id)
  },

  components: {
    ClientForm
  },

  methods: {
    goToClient() {
      this.$router.push({ name: "clients-id", params: { id: this.id } })
    }
  }
}
</script>

<style scoped>
#client-form {
  max-width: 480px;
  margin: 0 auto;
}
</style>
