<template>
  <div id="client">
    <v-card class="client__card">
      <v-card-title>
        <v-avatar size="64">
          <img :src="picture" :alt="name" />
        </v-avatar>
        <h1 class="title ml-3">{{ name }}</h1>
        <div class="client__actions" style="margin-left: auto;">
          <v-btn :disabled="account" flat color="info" @click="generateAccount">
            <v-icon>person_add</v-icon> {{ generateBtnLabel }}
          </v-btn>

          <v-btn :to="{ name: 'clients-id-edit', params: { id } }" flat icon>
            <v-icon>edit</v-icon>
          </v-btn>

          <v-btn flat icon @click="openDeleteDialog">
            <v-icon>delete</v-icon>
          </v-btn>
        </div>
      </v-card-title>

      <v-divider />

      <v-card-text>
        <h3 class="subheading">Contact Details</h3>

        <v-list>
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <v-icon>phone</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>{{ phone }}</v-list-tile-content>
          </v-list-tile>

          <v-list-tile avatar>
            <v-list-tile-avatar>
              <v-icon>home</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>{{ address }}</v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card-text>

      <v-divider />

      <v-card-text>
        <h3 class="subheading">
          Pets ({{ pets.length }})
          <v-btn flat color="info" style="float: right;" @click="openPetDialog">
            <v-icon>add</v-icon> Add Pet
          </v-btn>
        </h3>

        <v-list>
          <v-list-tile
            v-for="pet in pets"
            :key="pet.id"
            :to="{ name: 'pets-id', params: { id: pet.id } }"
          >
            <v-list-tile-avatar color="grey">{{
              pet.name[0]
            }}</v-list-tile-avatar>
            <v-list-tile-content>{{ pet.name }}</v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card-text>
    </v-card>

    <pet-form-dialog
      ref="petDialog"
      :open.sync="petDialog.open"
      :client-id="id"
      @submit="onSubmit"
    />

    <v-dialog v-model="deleteDialog.open" max-width="480">
      <v-card>
        <v-card-text
          >This will permanently delete the client record including its pet
          records and cannot be undone. Delete client?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn flat @click="closeDeleteDialog">Cancel</v-btn>
          <v-btn flat color="blue" @click="deleteClient">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import PetFormDialog from "~/components/pets/PetFormDialog"

export default {
  components: {
    PetFormDialog
  },

  async asyncData({ app, params }) {
    const clientService = app.$serviceFactory.clientService()
    return {
      ...(await clientService.getById(params.id)),
      pets: await clientService.getPets(params.id)
    }
  },

  data() {
    return {
      petDialog: {
        open: false
      },

      deleteDialog: {
        open: false
      }
    }
  },

  computed: {
    generateBtnLabel() {
      return this.account ? "Account Exists" : "Generate Account"
    }
  },

  methods: {
    generateAccount() {
      this.$serviceFactory
        .clientService()
        .generateAccount(this.id)
        .then(() => {
          this.snackbar.active = true
        })
    },

    openPetDialog() {
      this.petDialog.open = true
    },

    closePetDialog() {
      this.petDialog.open = false
    },

    onSubmit(pet) {
      this.pets.push(pet)
      this.closePetDialog()
      this.$root.$emit("showSnackbar", "Pet added")
    },

    openDeleteDialog() {
      this.deleteDialog.open = true
    },

    closeDeleteDialog() {
      this.deleteDialog.open = false
    },

    deleteClient() {
      this.$serviceFactory
        .clientService()
        .deleteById(this.id)
        .then(data => {
          this.$router.replace({ name: "clients" })
        })
        .catch(error => {
          this.closeDelete()
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.client__card {
  .subheading {
    display: flex;
    align-items: center;

    .v-btn {
      margin-left: auto;
    }
  }
}
</style>
