<template>
  <v-app id="app">
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
      <a href="/" class="navbar-brand">
        <img src="/public/logo.png" />Monjayfer Veterinary Clinic
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-collapse"
      >
        <i class="navbar-toggler-icon" />
      </button>

      <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item">
            <a href="/#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="/#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="/#contactus" class="nav-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <nuxt-child />
    <v-snackbar v-model="showSnackbar">{{ snackbarMessage }}</v-snackbar>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      snackbarMessage: null
    }
  },

  computed: {
    showSnackbar: {
      get() {
        return this.snackbarMessage !== null
      },
      set(neVal) {
        // Going to be called only when snackbar closed
        this.snackbarMessage = null
      }
    }
  },

  created() {
    this.$root.$on("showSnackbar", message => {
      this.snackbarMessage = message
    })
  }
}
</script>
