<template>
  <activity-form
    :pet-id="$route.params.id"
    :initial-values="$data"
    @cancel="goToActivity"
  />
</template>

<script>
import ActivityForm from "~/components/pets/activities/ActivityForm"

export default {
  async asyncData({ app, params }) {
    return await app.$serviceFactory.activityService().getById(params.aId)
  },

  components: {
    ActivityForm
  },

  methods: {
    goToActivity() {
      const params = {
        id: this.petId,
        aId: this.id
      }

      this.$router.push({ name: "pets-id-activities-aId", params })
    }
  }
}
</script>
