<template>
  <div id="activity">
    <md-card class="activity__card">
      <md-card-header>
        <h1 class="md-title">{{ subject }}</h1>
        <div class="activity__actions">
          <md-button
            :to="{
              name: 'pets-id-activities-aId-edit',
              params: { id: pet.id, aId: id }
            }"
            class="md-icon-button"
          >
            <md-icon>edit</md-icon>
          </md-button>

          <md-button class="md-icon-button" @click="delDialog.open = true">
            <md-icon>delete</md-icon>
          </md-button>
        </div>
      </md-card-header>

      <md-divider />

      <md-card-content>
        <h3 class="md-subheading">Activity Details</h3>

        <md-list class="md-double-line">
          <md-list-item>
            <div class="md-list-item-text">
              <div>{{ formattedDate }}</div>
              <div>Report Date</div>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>

      <md-divider />

      <md-card-content>
        <h3 class="md-subheading">
          Pet Details
          <md-button
            :to="{ name: 'pets-id', params: { id: pet.id } }"
            class="md-list-action md-icon-text-button md-primary"
          >
            <md-icon>launch</md-icon> See Pet
          </md-button>
        </h3>

        <md-list class="md-double-line">
          <md-list-item>
            <div class="md-list-item-text">
              <div>{{ pet.name }}</div>
              <div>Name</div>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>

      <md-divider />

      <md-card-content>
        <h3 class="md-subheading">Details</h3>
        <div v-html="activity" />
      </md-card-content>
    </md-card>

    <md-dialog-confirm
      :md-active.sync="delDialog.open"
      md-content="This will permanently delete the activity and cannot be undone. Delete Activity?"
      md-confirm-text="Delete"
      @md-confirm="deleteActivity"
    />
  </div>
</template>

<script>
import format from "date-fns/format"

export default {
  async asyncData({ app, params }) {
    const activity = app.$serviceFactory.activityService().getById(params.aId)
    const pet = app.$serviceFactory.petService().getById(params.id)

    return Promise.all([activity, pet]).then(promises => ({
      ...promises[0],
      pet: promises[1]
    }))
  },

  data() {
    return {
      delDialog: {
        open: false
      }
    }
  },

  computed: {
    formattedDate() {
      return format(this.date, "MMMM DD, YYYY")
    }
  },

  methods: {
    deleteActivity() {
      this.$serviceFactory
        .activityService()
        .deleteById(this.id)
        .then(() => {
          this.$router.replace({ name: "pets-id", params: { id: this.petId } })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.activity__card {
  .md-card-header {
    display: flex;
    align-items: center;
    padding: 24px;

    .md-title {
      flex: 1;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: 0.009375rem;
    }
  }

  .md-card-content {
    p {
      color: rgba(#000, 0.6);
      margin-top: 10.5px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.25px;
    }
  }

  .md-subheading {
    display: flex;
    align-items: center;

    .md-button {
      margin-left: auto;
    }
  }
}
</style>
