<template>
  <v-card id="client-form">
    <v-card-text>
      <form method="POST" action="#" @submit.prevent="submit">
        <v-text-field v-model="name" label="Name" required />
        <v-text-field v-model="phone" label="Phone" required />
        <v-text-field v-model="address" label="Address" required />
        <button v-show="false" ref="submit" />
      </form>
    </v-card-text>

    <v-card-actions>
      <v-spacer />
      <v-btn flat @click="cancel">Cancel</v-btn>
      <v-btn color="info" @click="delegateSubmit">
        {{ btnLabel }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import pick from "lodash.pick"

export default {
  name: "ClientForm",

  props: {
    initialValues: {
      type: Object,
      default: () => ({})
    }
  },

  data() {
    return {
      name: null,
      phone: null,
      address: null,
      ...pick(this.initialValues, ["id", "name", "phone", "address"])
    }
  },

  computed: {
    isEdit() {
      return this.initialValues.hasOwnProperty("id")
    },

    btnLabel() {
      return this.isEdit ? "Update Client" : "Add Client"
    }
  },

  methods: {
    cancel() {
      this.$emit("cancel")
    },

    delegateSubmit() {
      this.$refs.submit.click()
    },

    submit() {
      const clientService = this.$serviceFactory.clientService()

      const request = this.isEdit
        ? clientService.update(this.$data)
        : clientService.create(this.$data)

      request.then(data => this.$emit("submit", data))
    }
  }
}
</script>
